# application config
PORT=8086

# postgres configs

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=url_shortener_db
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123123
POSTGRES_DRIVER=org.hibernate.dialect.PostgreSQLDialect
AUTO_UPDATE_ENTITIES=none

# security configs

JWT_SECRET=eefc9f6f438c6235045a586aaf3386b5fea39fc9871aa1da1a7c3a4b9992871b
